/* https://cssgrid-generator.netlify.app/ */

/* Series Grid */

#kf_bc_form #series {
    display: grid;
    grid-template-columns: repeat(5, fit-content(10em));
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    margin-top: 5px;
}

#kf_bc_form #series label {text-align: right;}

#kf_bc_form #series *:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
#kf_bc_form #series *:nth-child(2) { grid-area: 1 / 2 / 2 / 4; }
#kf_bc_form #series *:nth-child(3) { grid-area: 1 / 4 / 2 / 5; }
#kf_bc_form #series *:nth-child(4) { grid-area: 1 / 5 / 2 / 6; }
#kf_bc_form #series *:nth-child(5) { grid-area: 2 / 1 / 3 / 2; }
#kf_bc_form #series *:nth-child(6) { grid-area: 2 / 2 / 3 / 6; }
#kf_bc_form #series *:nth-child(7) { grid-area: 3 / 1 / 4 / 2; }
#kf_bc_form #series *:nth-child(8) { grid-area: 3 / 2 / 4 / 6; }
#kf_bc_form #series *:nth-child(9) { grid-area: 4 / 1 / 5 / 2; }
#kf_bc_form #series *:nth-child(10) { grid-area: 4 / 2 / 5 / 3; }
#kf_bc_form #series *:nth-child(11) { grid-area: 4 / 3 / 5 / 5; }
#kf_bc_form #series *:nth-child(12) { grid-area: 4 / 5 / 5 / 6; }
#kf_bc_form #series *:nth-child(13) { grid-area: 5 / 1 / 6 / 2; }
#kf_bc_form #series *:nth-child(14) { grid-area: 5 / 2 / 6 / 3; }
#kf_bc_form #series *:nth-child(15) { grid-area: 5 / 3 / 6 / 5; }
#kf_bc_form #series *:nth-child(16) { grid-area: 5 / 5 / 6 / 6; }


#kf_bc_form .volumeContainer>div
{
    margin: 5px 0;
}


/* Volume Grid */

#kf_bc_form .volumeContainer>div[name="volume"] {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
}

#kf_bc_form .volumeContainer>div[name="volume"] input {
    width: 500px;
}
#kf_bc_form .volumeContainer>div[name="volume"] select {
    width: 300px;
}



/* Chapters Section */

#kf_bc_form table[name="chapters"] input[name="number"] {
    width: 5em;
}
#kf_bc_form table[name="chapters"] input[name="title"] {
    width: 30em;
}



/* Weeks Grid */

#kf_bc_form table[name="weeks"] input[name="number"] {
    width: 5em;
}
#kf_bc_form table[name="weeks"] input[name="weekThread"] {
    width: 5em;
}
#kf_bc_form table[name="weeks"] input[name="startDate"] {
    width: 10em;
}
#kf_bc_form table[name="weeks"] input[name="chapters"] {
    width: 7em;
}
#kf_bc_form table[name="weeks"] input[name="startPage"] {
    width: 7em;
}
#kf_bc_form table[name="weeks"] input[name="endPage"] {
    width: 7em;
}
