/* https://cssgrid-generator.netlify.app/ */

/* Series Grid */

#kfbc-form #kfbc-series {
    display: grid;
    grid-template-columns: repeat(5, fit-content(10em));
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 5px;
    margin-top: 5px;
}

#kfbc-form #kfbc-series label {text-align: right;}

#kfbc-form #kfbc-series *:nth-child(1) { grid-area: 1 / 1 / 2 / 2; }
#kfbc-form #kfbc-series *:nth-child(2) { grid-area: 1 / 2 / 2 / 4; }
#kfbc-form #kfbc-series *:nth-child(3) { grid-area: 1 / 4 / 2 / 5; }
#kfbc-form #kfbc-series *:nth-child(4) { grid-area: 1 / 5 / 2 / 6; }
#kfbc-form #kfbc-series *:nth-child(5) { grid-area: 2 / 1 / 3 / 2; }
#kfbc-form #kfbc-series *:nth-child(6) { grid-area: 2 / 2 / 3 / 6; }
#kfbc-form #kfbc-series *:nth-child(7) { grid-area: 3 / 1 / 4 / 2; }
#kfbc-form #kfbc-series *:nth-child(8) { grid-area: 3 / 2 / 4 / 6; }
#kfbc-form #kfbc-series *:nth-child(9) { grid-area: 4 / 1 / 5 / 2; }
#kfbc-form #kfbc-series *:nth-child(10) { grid-area: 4 / 2 / 5 / 3; }
#kfbc-form #kfbc-series *:nth-child(11) { grid-area: 4 / 3 / 5 / 5; }
#kfbc-form #kfbc-series *:nth-child(12) { grid-area: 4 / 5 / 5 / 6; }
#kfbc-form #kfbc-series *:nth-child(13) { grid-area: 5 / 1 / 6 / 2; }
#kfbc-form #kfbc-series *:nth-child(14) { grid-area: 5 / 2 / 6 / 3; }
#kfbc-form #kfbc-series *:nth-child(15) { grid-area: 5 / 3 / 6 / 5; }
#kfbc-form #kfbc-series *:nth-child(16) { grid-area: 5 / 5 / 6 / 6; }


#kfbc-form .kfbc-volume-container>div
{
    margin: 5px 0;
}


/* Volume Grid */

#kfbc-form .kfbc-volume-container>div[name="kfbc-volume"] {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-gap: 5px;
}

#kfbc-form .kfbc-volume-container>div[name="kfbc-volume"] input {
    width: 500px;
}
#kfbc-form .volumeContainer>div[name="kfbc-volume"] select {
    width: 300px;
}



/* Chapters Section */

#kfbc-form table[name="kfbc-chapters"] input#kfbc-number {
    width: 5em;
}
#kfbc-form table[name="kfbc-chapters"] input#kfbc-title {
    width: 30em;
}


/* Weeks Grid */

#kfbc-form table[name="kfbc-weeks"] input#kfbc-number {
    width: 5em;
}
#kfbc-form table[name="kfbc-weeks"] input#kfbc-week-thread {
    width: 5em;
}
#kfbc-form table[name="kfbc-weeks"] input#kfbc-start-date {
    width: 10em;
}
#kfbc-form table[name="kfbc-weeks"] input#kfbc-chapters {
    width: 7em;
}
#kfbc-form table[name="kfbc-weeks"] input#kfbc-start-page {
    width: 7em;
}
#kfbc-form table[name="kfbc-weeks"] input#kfbc-end-page {
    width: 7em;
}
