#layout {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#target { grid-area: 1 / 1 / 2 / 2; }
#buttons { grid-area: 2 / 1 / 3 / 2; }
#content { grid-area: 1 / 2 / 4 / 3; padding-left: 15px; }

#buttons button { height: 2em; width: 100%; }

#volumes { margin-top: 1em; }
#volumesList {
  list-style-type: none;
  margin: 0;
  padding: 5px 10px;
}
#volumesTables { padding: 0 10px; background-color: #CEF; }
#volumes {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#addNewVolumeContainer { grid-area: 1 / 1 / 2 / 3;}
#volumesList { grid-area: 2 / 1 / 4 / 2; border: solid thin black; }
#volumeButtons { grid-area: 2 / 2 / 3 / 3; border: solid thin black; border-left-width: 0; border-bottom-width: 0; padding-left: 10px; }
#volumeTables { grid-area: 3 / 2 / 4 / 3; border: solid thin black; border-top-width: 0; border-left-width: 0; padding-left: 10px; min-height: 10em; }
#volumesList li:hover { cursor: pointer; }

#templates { margin-top: 1em; }
#templatesList {
  list-style-type: none;
  margin: 0;
  padding: 5px 10px;
}
#templateTables { padding: 0 10px; }
#templates {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
#templatesList { grid-area: 1 / 1 / 2 / 2; border: solid thin black; }
#templateTables { grid-area: 1 / 2 / 2 / 3; border: solid thin black; border-left-width: 0; }
#templates td { vertical-align: top; }


#templatesList li:hover,
summary:hover,
.clickable { cursor: pointer; }

input {width: 100%;}

xdiv {
  border: solid thin red;
  margin: 10px;
  padding: 10px;
}

