body {
    height: 100vh;
}

select {
    height: 1.5em;
}
button {
    height: 1.7em;
}

#layout {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
#target { grid-area: 1 / 1 / 2 / 2; }
#buttons { grid-area: 2 / 1 / 3 / 2; }
#content { grid-area: 1 / 2 / 4 / 3; padding-left: 15px; }

#buttons button { height: 2em; width: 100%; margin-bottom: 5px; }

#volumes { margin-top: 1em; }
#volumesList {
    min-width: 100px;
}
#addNewVolume { margin-bottom: 4px; }

#templates { margin-top: 1em; }
#templateTables { padding: 0 10px; }
#addNewTemplateContainer { margin-bottom: 3px; }
#templates td { vertical-align: top; }

#templatesList li:hover,
summary:hover,
.clickable { cursor: pointer; }

label:after { content: ":"; }
#vocabulary label:after { content: ""; }

input, select {
    xfont-size: 1.5em;
}





/* If Migaku is enabled, hide the toolbar on this page. */
#migaku-toolbar-minimized { display: none !important;  }


/* Website icons */

.favicon {
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: left;
    min-height: 16px;
    padding-left: 20px;
}

.favicon.amazon { background-image: url("https://www.amazon.com/favicon.ico"); }
.favicon.book-walker { background-image: url("https://bookwalker.jp/favicon.ico"); }
.favicon.cd-japan { background-image: url("https://www.cdjapan.co.jp/favicon.ico"); }
.favicon.kobo, .favicon.rakuten { background-image: url("https://www.rakuten.com/favicon.ico"); }
.favicon.natively { background-image: url("https://d1sbtzet6n43nd.cloudfront.net/favicon_io/favicon-32x32.35341b5780fe.png"); }
.favicon.pixiv { background-image: url("https://www.pixiv.net/favicon.ico"); }
.favicon.yahoo { background-image: url("https://www.yahoo.co.jp/favicon.ico"); }


